.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 13rem 0rem 3rem 0rem;
    position: relative;
    z-index: 2;
}

.footer-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.socials {
    display: flex;
    justify-content: space-between;
    gap:  5rem;
    margin-top: 2rem;
}

.footer-img:hover {
    transform: scale(1.1);
}
