@import "../../App.css";

.about-container {
    display: flex;
    align-items: center;
    background-color: black;
    border: 0px solid white;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-top: 3rem;
    padding: 10px 8rem;
    position: relative;
    z-index: 2;
}

.photo-container-about {
    width: 70%;
    height: 70%;
    background-size: cover;   
    border-radius: 10px;
}

.text-container-about {
    color: white;
}

.name-about {
    font-size: 3.75rem;
}

.phrase-about {
    line-height: 2.5rem;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .8);
}